/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: azure;
  align-items: center;
}
.main-div .component {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: max-content;
}
.img-container .notes {
  margin-top: 2rem;
  font-size: 50px;
  color: green;
}
.title {
  margin: 1rem 0rem;
}
.input-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.input {
  width: 20rem;
  height: 2rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px 0px grey;
  outline: none;
  border: none;
}
.add {
  background-color: beige;
  height: 100%;
  box-shadow: 3px 3px 5px 0px grey;
  border-radius: 0.5rem;
  padding: 0.2rem;
  color: red;
  cursor: pointer;
}

.btn {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  box-shadow: 3px 3px 5px 0px grey;
  margin: 2rem 0;
}

.btn:hover {
  background: white;
}

.button {
  cursor: pointer;
  margin: 0.1rem 0.3rem;
}

.showItems {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 50px;
}

.eachItem {
  width: 20rem;
  min-height: 2rem;
  height: max-content;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px 0px grey;
}
.button-container {
  display: flex;
  flex-direction: column;
}
.todo-btn {
  display: flex;
  flex-direction: column;
}
.eachItem p {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
}

@media only screen and (max-width: 738px) {
  .showItems {
    justify-content: center;
    align-items: center;
  }
}
